{% block content %}
<p>------------</p>
<h3>Navigation</h3>
<ul>
    <li><a href="{{ url_for('home')}}">Search form</a></li>
    <li><a href="{{ url_for('all_comments')}}">See all comments</a></li>
    <li><a href="{{ url_for('all_players')}}">List of players with an arrest record</a></li>
    <li><a href="{{ url_for('all_crimes')}}">List of crimes</a></li>
    <li><a href="{{ url_for('all_teams')}}">List of teams</a></li>
    <li><a href="{{ url_for('all_positions')}}">List of positions</a></li>
</ul>
{% endblock %}
